@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primaryClr: #4c6fff;
  --secondryClr: #61dcdf;
  --textClr: #617798;
  --teritoryClr: #f43fe2;
  --grayClr:#cdcbcb;
  --fontFamily: "Work Sans", sans-serif;
  --wideWidth:100%;
}


body{
  color:var(--textClr);
  font-family: var(--fontFamily);
  transition: all 0.3s ease-in-out;
  margin: auto;
  max-width: var(--wideWidth);
}

body.boxed {
  background: var(--textClr); 

}
.changeThemes {
  background: var(--secondryClr); 
 
}




.formdata h5{
    color: #f8f8f8;
    font-weight: 400;
    opacity: .7;
    line-height: 21px;
    margin: 0 0 5px ;
    padding: 0;
    text-transform: none;
}

.input-group-text {
 
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
 
}

.style-switchers button {
 
    border-radius: 4px;
  
    display: inline-block;
    line-height: normal;
    margin-bottom: 0;
    margin-right: 8px;
    padding: 6px 15px;
    text-decoration: none;
    transition: all, .2s, ease, 0s;
}

.stripe-bg {
  background: linear-gradient(
    to right,
    transparent 30%,
    rgb(205, 205, 205) 30%,
    rgb(205, 205, 205) calc(1px ),
   
    transparent calc(30% + 1px),

    transparent 70%,
      rgb(205, 205, 205) 30%,
    rgb(205, 205, 205) calc(1px ),
    transparent calc(70% + 1px)
  );
  z-index: 10 ;
}


    .un {
      display: inline-block;
      padding-bottom:2px;
      background-image: linear-gradient(blue, blue);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 2px;
      background-repeat: no-repeat;
      transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
    }
    
    .un:hover {
      background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 2px;
    }


    .navbar-a a{
          
    padding: 0 12px;
    display: block;
    margin-top: 0;
  
    transition: .2s ease;
    }

    .topbar-phone  {
    transition: .25s;
    color: inherit;
    margin-right: 5px;
    padding-right: 10px;
}




.footer-box{
  margin: 24px 0px 0px;
  padding: 0px 12px;
}
.footer-form{
      font-weight: 400;
    background:  color-mix(in srgb, var(--gray-color) 25%, #fff 100%);
    border-radius: 0;
    transition: all .25s ease-in-out;
    min-width: 100%;
    width: 100%;
 
    outline: none;
    line-height: 55px;
    height: auto;
    padding:0 20px;
   
    text-align: left;
    letter-spacing: .16px;
}

.footer-btn{
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: auto !important;
        left: auto !important;
        height: 49px !important;
        margin: 4px !important; 
        
}