@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


:root{
  --primaryClr: #4c6fff;
  --secondryClr: #61dcdf;
  --textClr: #617798;
  --teritoryClr: #f43fe2;
  --grayClr:#cdcbcb;
  --fontFamily: "Work Sans", sans-serif;
  --wideWidth:100%;
}


body{
  color:var(--textClr);
  font-family: var(--fontFamily);
  transition: all 0.3s ease-in-out;
  margin: auto;
  max-width: var(--wideWidth);
}

body.boxed {
  background: var(--textClr); 

}
.changeThemes {
  background: var(--secondryClr); 
 
}




.formdata h5{
    color: #f8f8f8;
    font-weight: 400;
    opacity: .7;
    line-height: 21px;
    margin: 0 0 5px ;
    padding: 0;
    text-transform: none;
}

.input-group-text {
 
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
 
}

.style-switchers button {
 
    border-radius: 4px;
  
    display: inline-block;
    line-height: normal;
    margin-bottom: 0;
    margin-right: 8px;
    padding: 6px 15px;
    text-decoration: none;
    transition: all, .2s, ease, 0s;
}

.stripe-bg {
  background: linear-gradient(
    to right,

    transparent 34.95%,
    rgba(205, 205, 205, 0.6) 35%,
    transparent 35.05%,

    transparent 64.95%,
    rgba(205, 205, 205, 0.6) 65%,
    transparent 65.05%
  );
}








    .un {
      display: inline-block;
      padding-bottom:2px;
      background-image: linear-gradient(blue, blue);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 2px;
      background-repeat: no-repeat;
      transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
    }
    
    .un:hover {
      background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 2px;
    }


    .navbar-a a{
          
    padding: 0 12px;
    display: block;
    margin-top: 0;
  
    transition: .2s ease;
    }

    .topbar-phone  {
    transition: .25s;
    color: inherit;
    margin-right: 5px;
    padding-right: 10px;
}




.footer-box{
  margin: 24px 0px 0px;
  padding: 0px 12px;
}
.footer-form{
      font-weight: 400;
    background:  color-mix(in srgb, var(--gray-color) 25%, #fff 100%);
    border-radius: 0;
    transition: all .25s ease-in-out;
    min-width: 100%;
    width: 100%;
 
    outline: none;
    line-height: 55px;
    height: auto;
    padding:0 20px;
   
    text-align: left;
    letter-spacing: .16px;
}

.footer-btn{
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: auto !important;
        left: auto !important;
        height: 49px !important;
        margin: 4px !important; 
        
}
.oneClick1 {
    content: " ";
    display: block;
    width: 60%;
    height: 30%;
    position: absolute;
    top: 42%;
    right: auto;
    bottom: auto;
    left: 28%;
    background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjI5Ljc5IDk0LjA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzYxNzA4NyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0uNzUuNjZzMS40IDEuNTkgNC4xNSA0LjMzIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjE3MDg3IiBzdHJva2UtZGFzaGFycmF5PSIwIDAgMTEuOTcgMTEuOTciIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTMuNjUgMTMuMTVjMjYuNDcgMjMuMzggOTIuOTEgNzEuMzkgMTkyLjExIDcxLjM5Ii8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjE3MDg3IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIxMS43NCA4NC40OWMxLjk5LS4wNCAzLjk5LS4xIDYtLjE3Ii8+PHBhdGggZmlsbD0iIzYxNzA4NyIgZD0iTTIyOS43OSA4My42MmMtNS41NSAyLjQyLTEyLjM5IDYuNC0xNi41NCAxMC40NGwyLjkxLTkuNjktMy45Ni05LjNjNC41NyAzLjU2IDExLjgxIDYuNzYgMTcuNTkgOC41NXoiLz48L3N2Zz4=) no-repeat;
    background-size: contain;
    max-width: 222px;
    max-height: 8
}
.oneClick2 {
    content: " ";
    display: block;
    width: 60%;
    height: 30%;
    position: absolute;
    top:53%;
    bottom: auto;
    right: 28%;
    background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjI5Ljc5IDk0LjA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzYxNzA4NyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0uNzUuNjZzMS40IDEuNTkgNC4xNSA0LjMzIi8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjE3MDg3IiBzdHJva2UtZGFzaGFycmF5PSIwIDAgMTEuOTcgMTEuOTciIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTMuNjUgMTMuMTVjMjYuNDcgMjMuMzggOTIuOTEgNzEuMzkgMTkyLjExIDcxLjM5Ii8+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjE3MDg3IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIxMS43NCA4NC40OWMxLjk5LS4wNCAzLjk5LS4xIDYtLjE3Ii8+PHBhdGggZmlsbD0iIzYxNzA4NyIgZD0iTTIyOS43OSA4My42MmMtNS41NSAyLjQyLTEyLjM5IDYuNC0xNi41NCAxMC40NGwyLjkxLTkuNjktMy45Ni05LjNjNC41NyAzLjU2IDExLjgxIDYuNzYgMTcuNTkgOC41NXoiLz48L3N2Zz4=) no-repeat;
    background-size: contain;
    max-width: 222px;
    max-height: 8
}